* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* font-weight: bold; */
  line-height: 1.4;
  margin-top: 30px;
}

h1 {
  padding: 9px;
  font-weight: bold;
  background-color: rgb(233, 231, 231);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
}
h1 p {
  background-color: red;
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: 3px;
  position: absolute;
  top: -20px;
  left: -25px;
}

.free_shipping {
  /* margin-bottom: 20px; */
  color: rgb(122, 120, 120);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.click_button {
  width: 100%;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
.click_button:hover {
  border-top: 4px solid black;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
h3 {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 5px;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: purple;
  background-color: black;
}
strong {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}
.details-list {
  list-style: square;
}
.container {
  border: 4px solid black;
  width: 850px;
  margin: 0 auto;
}

/* .post-img {
  margin-bottom: 5px;
} */

.description {
  margin-bottom: 10px;
}
li:first-child {
  margin: 10px 0;
}
li:last-child {
  margin: 10px 0;
}
.color_boxes {
  background-color: black;
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
.color_boxes1 {
  background-color: rgb(85, 85, 226);
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
.color_boxes2 {
  background-color: red;
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
.color_boxes3 {
  background-color: rgb(192, 205, 50);
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
.color_boxes4 {
  background-color: green;
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
.color_boxes5 {
  background-color: rgb(83, 68, 68);
  display: inline-block;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 7px;
}
/* //////
//////
////// */

/* FLOATS */
/* .dis {
  float: left;
  width: 250px;
  position: relative;
  margin-top: 20px;

  margin-left: 40px;
}
.free_shipping {
  position: absolute;
  margin-top: 0px;
  top: 10px;
  right: 10px;
}
.post-img {
  float: left;
  margin-bottom: 0;
}
.product {
  float: right;
  width: 270px;
  margin-left: 4px;
  margin-top: 8px;
  display: inline;
}
.more {
  display: inline-block;
  margin-top: 0;
}
.description {
  margin-bottom: 10px;
}
button {
  clear: both;
  margin-top: 0;
}
.details-list {
  padding-left: 5px;
  margin-left: 15px;
  width: 240px;
  margin-right: 0px;
}
h3 {
  margin-left: 4px;
  margin-right: 20px;
} */

/* FLEXBOX */

.flexbox_items {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex: 1;
}
.product_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 7px; */
  margin-top: 20px;
  width: 240px;
  /* align-items: flex-start; */
  /* flex: 0 1 240px; */
}
/* .first_item {
} */
.description {
  width: 260px;
}

.details-list {
  padding-left: 5px;
  margin-left: 15px;
  width: 240px;
  margin-right: 0px;
}
.dis {
  width: 250px;
  flex: 1;
}
.product {
  width: 270px;
  margin-left: 4px;
  margin-top: 8px;
  display: inline;
  flex: 1;
}
.all_colors {
  display: flex;
  gap: 10px;
}
.post-img {
  flex: 1;
}
